@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="home/savexml" method="post">
        <label>Informe o XML:</label>
        <textarea cols="150" name="xml"></textarea>
        <input type="text" name="cidade" placeholder="cidade" />
        <input type="text" name="codcidade" placeholder="Código da cidade IBGE" />

        <button type="submit">Salvar</button>
    </form>
</div>